@import "_nullstyle";

body {
    width: 821px;
    padding-top: 150px;
    max-width: 821px;
    margin: 0 auto;
    background-color: #e8e8e8;
    color: #273d46;
    background: url(../../img/Ellipse_1_copy.png) 250px 85px no-repeat;
}

.top {
    color: gray;
}

.content-top p {
    color: #273d46;
    text-align: center;
    font-weight: 400;

    &:first-child {
        letter-spacing: 2.8px;
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.6;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }

    &:last-child {
        font-family: "Times New Roman", Times, serif;
        line-height: 50px;
        font-size: 36px;
        margin-bottom: 70px;
        margin-top: 10px;
    }
}

.img {
    outline: 10px solid white;
    margin-bottom: 100px;
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
}

.content-middle p {
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.8;
    margin-left: 35px;
    margin-right: 40px;
    line-height: 40px;
    font-weight: 500;

    &:first-child {
        margin-bottom: 40px;
    }
}

.content-bottom {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 45px;

    li {
        font-size: 20px;
        line-height: 35px;
        color: #273d46;

        &:first-child {
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        }

        &:nth-child(2) {
            color: #80b7b3;
            font-style: italic;
        }

        &:nth-child(3) {
            font-weight: bold;
        }

        &:last-child {
            margin-bottom: 60px;

            span {
                text-decoration: line-through;
                opacity: 0.3;
            }
        }

        &::before {
            content: url("../../img/check_icon.png");
            position: relative;
            top: 5px;
            padding-right: 10px;
        }
    }
}

.link {
    color: white;
    text-transform: uppercase;
    background: #80b7b3;
    border-radius: 25px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    letter-spacing: 2.8px;
    padding: 15px 35px;
    margin-left: 30px;

    &::after {
        content: url("../../img/Shape.png");
        position: relative;
        top: 2px;
        left: 7px;
    }
}

.margin {
    margin-top: 110px;
    visibility: hidden;
}
